*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white-color:#ffffff;
    --dark-color:#000000;
    --primary-color:#F2F0F1;
    --secondary-color:#F0F0F0;
    --card-color:#F0EEED;
    --text-color-60:rgba(0 0 0 /.60);
    --text-color-40:rgba(0 0 0 /.40);
    --border-color-10:rgba(0 0 0 /.10);
    --fs-64px:64px;
    --fs-48px:48px;
    --fs-40px:40px;
    --fs-36px:36px;
    --fs-32px:32px;
    --fs-28px:28px;
    --fs-24px:24px;
    --fs-22px:22px;
    --fs-20px:20px;
    --fs-16px:16px;
    --fs-14px:14px;
    --fs-12px:12px;
    --fw-bold-700:700;
    --fw-semibold-600:600;
    --fw-medium-500:500;
    --fw-regular-400:400;
}
html{
    scroll-behavior: smooth;
}
body{
    position: relative;
    font-family: "Poppins", serif;
    font-weight: var(--fw-regular-400);
    background-color: var(--white-color);
}
main section{
    padding: 30px 0;
}
.container{
    width: min(1240px, 100% - 30px);
    margin: auto;
}
ul{
    list-style: none;
}
a:not(.banar .container .sign-up-message a){
    text-decoration: none;
}
input,
button,
textarea{
    font: inherit;
    color: inherit;
    border: none;
    outline: none;
}
a,
span{
    font: inherit;
    color: inherit;
}
img{
    max-width: 100%;
}
/* Utility Classes */
.flex{
    display: flex;
}
.flex-column-start{
    flex-direction: column;
    align-items: start;
}
.flex-column-center{
    flex-direction: column;
    align-items: center;
}
.i-flex{
    display: inline-flex;
    align-items: center;
}
.grid{
    display: grid;
}
.text-center{
    text-align: center;
}
.align-center{
    align-items: center;
}
h1.title{
    font-size: clamp(var(--fs-36px), 5vw, var(--fs-64px));
    font-weight: var(--fw-bold-700);
    color: var(--dark-color);
}
h2.title{
    font-size: clamp(var(--fs-32px), 5vw, var(--fs-48px));
    font-weight: var(--fw-bold-700);
    color: var(--dark-color);
}
h3.title{
    font-size: clamp(var(--fs-24px), 5vw, var(--fs-36px));
    font-weight: var(--fw-bold-700);
    color: var(--dark-color);
}
span.product-title{
    font-size: clamp(var(--fs-16px), 5vw, var(--fs-20px));
    font-weight: var(--fw-bold-700);
    color: var(--dark-color);
}
.description-primary{
    line-height: 1.6;
    font-size: var(--fs-16px);
    color: var(--text-color-60);
}
.description-secondary{
    line-height: 1.6;
    font-size: var(--fs-14px);
    color: var(--text-color-60);
}
.special-btn{
    display: inline-flex;
    padding: 16px 54px;
    font-size: var(--fs-16px);
    font-weight: var(--fw-medium-500);
    background-color: var(--dark-color);
    color: var(--white-color);
}
.view-all-btn{
    display: inline-flex;
    padding: 16px 54px;
    border: 1px solid var(--border-color-10);
    background-color: transparent;
    color: var(--dark-color);
}
/* Components */
.banar{
    padding: 10px;
    background-color: var(--dark-color);
    color: var(--white-color);
}
.banar .container{
    gap: 30px;
}
.banar .container .sign-up-message{
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 10px 0;
    font-weight: var(--fw-medium-500);
}
.banar .container .sign-up-message p{
    font-size: clamp(var(--fs-12px), 3vw, var(--fs-14px));
}
.banar .container .sign-up-message a{
    font-size: clamp(var(--fs-14px), 3vw, var(--fs-16px));
}
i{
    cursor: pointer;
}
@media (min-width:992px) {
    .banar .container .sign-up-message{
        justify-content: center;
    }
}
header{
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 20px 0;
    background-color: var(--white-color);
    box-shadow: 0 4px 4px 0 rgba(0 0 0 /.04);
}
header .container{
    justify-content: space-between;
    gap: 35px;
}
header .container .col .logo{
    margin-left: 15px;
    font-size: clamp(var(--fs-20px) ,5vw ,var(--fs-32px));
    font-weight: var(--fw-bold-700);
    color: var(--dark-color);
}
header .container nav .icons{
    gap: 10px;
}
header .container nav ul li a{
    font-size: var(--fs-16px);
    color: var(--dark-color);
}
header .container nav .search-box input{
    background-color: transparent;
}
header .container nav img{
    cursor: pointer;
}
header .container nav .search-box{
    gap: 10px;
    border-radius: 62px;
    background-color: var(--secondary-color);
}
@media (max-width:991px) {
    header .container  nav ul{
        position: absolute;
        top: 100px;
        left: -100%;
        z-index: 9;
        width: min(250px, 65%);
        border-radius: 15px;
        box-shadow: 0 4px 4px 0 rgba(0 0 0 /.20);
        background-color: var(--primary-color);
        transition: all 200ms ease;
    }
    header .container nav ul.menu{
        left: 15px;
    }
    header .container nav ul li a{
        display: block;
        margin: 30px;
        text-align: center;
    }
    header .container nav ul li a.shop span{
        margin-right: 5px;
    }
    header .container nav .search-box{
        display: none;
    }
    header .container nav .append-field{
        display: flex;
        position: absolute;
        top: 120px ;
        right: 50%;
        z-index: 8;
        width: min(500px, 95%);
        padding: 20px;
        transform: translateX(50%);
        box-shadow: 0 4px 4px 0 rgba(0 0 0 /.10);
    }
    header .container .col .menu-icon{
        font-size: var(--fs-22px);
    }
} 
@media (min-width:992px) {
    header .container nav{
        justify-content: space-between;
        flex-grow: 1; 
        gap: 10px;
    }
    header .container nav ul{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    header .container nav .search-box{
        display: flex;
        width: min(350px, 100%);
        padding: 12px 20px;
    }
    header .container nav ul li a.shop{
        display: inline-flex;
        align-items: center;
        gap: 5px;
    }
    header .container nav .icons .search-icon,
    header .container .col .menu-icon,
    header .container nav .menu-icon{
        display: none;
    }
}